p {
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Verdana", sans-serif;
}
body {
    background-image: linear-gradient(#d2e3ee, #a0d6ed);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Verdana', sans-serif;
}

.left-img {
    float: left;
    width: 200px;        
    margin-left: 20px;   
    margin-bottom: 20px; 
    border-radius: 10px; 
  }
